<launch>
  <!-- Launch the grid map simple demo node -->
  <node pkg="path_planning" type="simple_demo" name="pcl_to_grid_map_demo" output="screen" />
  <!-- Launch the grid map visualizer -->
  <node pkg="grid_map_visualization" type="grid_map_visualization" name="grid_map_visualization" output="screen">
    <!--rosparam command="load" file="$(find grid_map_demos)/config/simple_demo.yaml" /-->
  </node>
  <!-- Launch RViz with the demo configuration -->
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find path_planning)/rviz/pcl_to_grid_map_demo.rviz" />
</launch>
